body {
      font-family: 'Open Sans', sans-serif;
}


/*  svg#rectangle rect.element.style:focus  {
fill: rgb(51, 255, 0) !important;


} 
 */


/*  #donut:hover {
      transform: scale(1.1);
    }
    #donut {
      transition: all 1s;
      
    } */



    